$base-color: #eae6df;
$background-color: #fff;
$grey: #f0f2f5;
$loader-color: red;

.App {
  text-align: center;
	background: linear-gradient(180deg, rgb(0, 168, 132) 0%, rgb(0, 168, 132) 20%, rgba(209,215,219,1) 20%);
	height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.create-chat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 2rem;
  background-color: $grey;
}

.chat-window {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(176, 176, 176, 0);
	overflow: hidden;
}

.inner-chat-window {
	margin: 19px auto;
	max-width: 1600px;
	height: calc(100vh - 38px);
	display: flex;
	flex-direction: row;
	overflow: hidden;
	box-shadow: 0 6px 18px rgba(11, 20, 26, 0.05);
}

.left-bar {
	// flex: 1;
	min-width: 480px;
	max-width: 480px;
	display: flex;
	flex-direction: column;
	background-color: $background-color;
}

.chat-list {
	display: flex;
	position: relative;
	flex-direction: column;
	// background-color: $base-color;
	overflow: scroll;
}

.chat-item {
	height: 72px;
	min-height: 72px;
	max-height: 72px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	// border: 1px solid black;
}

.chat-item:hover {
	background-color: #f5f6f6;
	cursor: pointer;
}

.right-bar {
	flex: 3;
	display: flex;
	flex-direction: column;
	background-color: $background-color;
}

.chat-content {
	flex: 9;
  display: flex;
  flex-direction: column;
	position: relative;
  // background-color: $base-color;
  overflow: scroll;
}

.chat-text-item {
	// display: flex;
	// flex-direction: row;
	// justify-content: center;
	// align-items: center;
	// min-height: 20%;
}

.outgoing {
	// margin-left: 5rem;
	// background-color: grey;
}

.input_message {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	max-height: 62.5px;
	padding-block: 10px;
	padding-inline: 20px;
	background-color: $grey;
}

.input_message__field, .input_message__field:focus-visible {
	box-sizing: border-box;
	flex: 9;
	background-color: none;
	border-radius: 8px;
	max-height: 42.5px;
	border: none;
	outline: none;
	padding: 1rem;
}

.input_message__button {
	flex: 1;
	background-color: none;
	font-size: 1rem;
	border-radius: 0;
	border: none;
	padding-inline: 20px;
	padding-block: 10px;
	border-radius: 8px;
	max-height: 42.5px;
	margin-left: 20px;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(176, 176, 176, 0.485);
}

.modal-inner {
	position: absolute;
	top: 6rem;
	bottom: 6rem;
	left: 6rem;
	right: 6rem;
	background-color: $background-color;
	box-shadow: 0 6px 18px rgba(11, 20, 26, 0.05);
	padding-inline: 10%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.modal-inner button {
	max-width: 300px;
}

/* loader */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* Loader 5 */
.loader-5 {
	height: 32px;
	width: 32px;
	-webkit-animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-1 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-1 {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-5-1 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.loader-5::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: auto;
	margin: auto;
	width: 8px;
	height: 8px;
	background: $loader-color;
	border-radius: 50%;
	-webkit-animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-2 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(24px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-2 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(24px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: auto;
	bottom: 0; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: $loader-color;
	border-radius: 50%;
	-webkit-animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-3 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(-24px, 0, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-3 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(-24px, 0, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5 span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
}
.loader-5 span::before {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: auto; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: $loader-color;
	border-radius: 50%;
	-webkit-animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-4 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-4 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(0, 24px, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-4 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(0, 24px, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}
.loader-5 span::after {
	content: "";
	display: block;
	position: absolute;
	top: auto; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	width: 8px;
	height: 8px;
	background: $loader-color;
	border-radius: 50%;
	-webkit-animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
	        animation: loader-5-5 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-5-5 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(1); }
	50%  { -webkit-transform: translate3d(0, -24px, 0) scale(.5); }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); }
}
@keyframes loader-5-5 {
	0%   { transform: translate3d(0, 0, 0) scale(1); }
	50%  { transform: translate3d(0, -24px, 0) scale(.5); }
	100% { transform: translate3d(0, 0, 0) scale(1); }
}